.page-footer {
    background-color: #3f3c3c;
}

.faqs-list {
    list-style: none;
}

.faqs-list__faq {
    line-height: 25px;
    margin-bottom: 15px;
}

.faqs-list__faq__link {
    color: silver;
    text-decoration: none;
    font-weight: 300;
}

.faqs-container {
    padding-right: 40px;
}

.faqs-list__faq__link:hover {
    color: white;
}

.footer-box {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-menu {
    list-style: none;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.footer-menu-list {
    list-style: none;
}

.footer-menu-list__item {
    line-height: 20px;
    font-size: 14px;
}

.footer-menu-container {
    margin-top: 40px;
}

.page-footer-testimonials {
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
.footer-social--facebook i {
    font-size: 1.1rem;
    margin-left: 1rem;
    color: #4266b2;
}