body {
    font-family: Tahoma, arial, sans-serif;
    color: #201f1f;
    line-height: 1.8em;
    font-size:16px;
}

textarea, input {
    font-family: Lato, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    margin: 30px 0;
}

h2 {
    margin: 20px 0;
}

a {
    color: #201f1f;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #383638;
}

.page-content {
    margin-top: 100px;
}

@media (max-width: 767px) {
    .page-content {
        margin-top: 65px;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .page-content {
        margin-top: 90px;
    }
}

.u-border-bottom-black {
    border-bottom: 1px solid black;
}



input:focus, textarea:focus {
    outline: 1px solid #9ee430;
}

.page-title {
    padding-top: 60px;
}

.page-title--no-m-bottom {
    margin-bottom: 0;
}

.the-content {
    line-height: 1.7em;
    margin-bottom: 40px;
}

.the-content p {
    font-size: 18px;
    color: #585858;
    line-height: 2rem;
}

.the-content a {
    color: #78af23;
}

.the-content strong {

    color: black;
}

.the-content::after {
    display: block;
    content: '';
    clear: both;
}

.alignright {
    float: right;
    margin-left: 20px;
}

.alignleft {
    float: left;
    margin-right: 20px;
}

ul {
    margin-left: 40px;
}

p {
    margin-bottom: 2rem;
}
