wp-config.php
.idea
.htaccess
www
huddersfieldwebsitedesigner
php_errorlog
.DS_Store
theonetree
wp-cli.yml
wp-content/cache/*
wp-content/themes/huddersfield-website-design/node_modules
wp-content/uploads/wp-static-html-output*
error_log
