
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
RewriteCond %{HTTP_HOST} ^huddersfieldwebsitedesigner.co.uk [NC]
RewriteRule ^(.*)$ http://www.huddersfieldwebsitedesigner.co.uk/$1 [L,R=301]
</IfModule>

# END WordPress