.featured-image {
    position: relative;
    min-height: 300px;
    background-position: 0 50%;
}

.featured-image__title {
   font-size: 50px;
    color:white;
    padding-top: 170px;
    margin-top: 0;

}