body {
    font-family: Lato;
    color: #201f1f;
}

a {
    color: #201f1f;
    text-decoration: underline;
}

a:hover, a:focus  {
    color: #383638;
}

.page-content {
    margin-top:100px;
}

.u-border-bottom-black {
    border-bottom: 1px solid black;
}