.sidebar {
    background-color: #ececec;
    padding: 20px 40px;
    margin-bottom: 40px;
}
.sidebar > ul {
    list-style: none;
    margin: 0;

}
.sidebar  li {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid black;
}
.sidebar-h1 {
    font-size: 16px;
    margin: 0;
    display: list-item;
    margin-left: 20px;
    list-style: disc;
}
.sidebar h3 {
    font-size: 20px;
}