.blog-footer {font-size: 13px;margin-bottom: 40px;color: grey;}
.blog-footer a {color: grey;}
.blog-title {font-size: 24px;margin: 0;}
.blog-subtitle {font-size: 13px;color: grey;margin: 0;}
.archive-post p {margin-bottom: 0;}