.contact-form textarea, .contact-form input {padding: 4px 12px;margin-top: 6px;width: 100%;border: 1px solid #dfdfdf;}
.contact-form__error {position: absolute;font-size: 12px !important;top: 0;right: 10px;color: #c70e0e;}
.contact-form__error-message, .contact-form__success-message {color: white;text-align: center;}
.contact-form__error-message__icon {color: #c70e0e;}
.contact-form__submit {margin-top: 20px;}
.contain-form-container--small-hero .contact-form__error-message {color: #c70e0e;}
.contain-form-container--small-hero .contact-form__success-message {color: black;}
#wpcf7-f771-p13-o1 input {max-width: 100%;}
#wpcf7-f771-p13-o1 {max-width: 800px;}
#wpcf7-f771-p13-o1  textarea {border-color: #dfdfdf;}