.desktop-menu__links {list-style: none;margin-top: 40px;padding: 0;}
.desktop-menu__list-item {float: left;}
.desktop-menu__link {text-decoration: none;text-transform: uppercase;padding: 0 15px;}
.desktop-menu__list-item.active {text-decoration: underline;}