.block {display: block;width: 100%;}
.hidden {display: none !important;}
.u-text-center {text-align: center;}
.inline-block {display: inline-block;}
.u-m-top-20 {margin-top: 20px;}
.u-text-right {text-align: right;}
.u-m-bottom-40 {margin-bottom: 40px;}
.u-border-bottom {border-bottom: 1px solid black;}
.u-max-height-500 {max-height: 500px;}
.tar {text-align: right;}
.tac {text-align: center;}
.fr {float: right;}